body {
  --pokemon-type-color: #9a0505;
}

.pokedex {
  height: 20em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.pokedex:hover {
  filter: drop-shadow(0 0 1em var(--pokemon-type-color));
}

.layout {
  display: grid;
  grid-template-columns: 320px 1fr;
}
